p {
  font-family: Proza Libre;
  font-size: 14px;
  word-spacing: -0.2rem;
  line-height: 1.1;
  color: #241c15;
}
h1 {
   font-family: Merriweather;
  font-size: 34px;
  word-spacing: -0.2rem;
  line-height: 1.1;
  color: #241c15;
}
input[type = submit] :enabled {
  background-color: #007c89;
  font-size: 14px

}
input[type = submit] :disabled{
  background-color: white;
  border-color: (36,28,21,0.5);
  color: (36,28,21,0.5);

}
a {
  float: right;
}
input[type = text]{
  border-color: #007c89;

}
input[type = password]{
  border-color: #007c89;

}
div.content{
  margin: auto;
  max-width: 100%;
}
div.left{
  max-width: 20%;
  max-height: auto;
}
div.right{

}
