@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Proza+Libre);
p {
  font-family: Proza Libre;
  font-size: 14px;
  word-spacing: -0.2rem;
  line-height: 1.1;
  color: #241c15;
}
h1 {
   font-family: Merriweather;
  font-size: 34px;
  word-spacing: -0.2rem;
  line-height: 1.1;
  color: #241c15;
}
input{
    border-color: #007c89;
}
input[type = submit]{
  background-color: #007c89;
  font-size: 14px

}

}
a {
  float: right;
}
div.content{
  margin: auto;
  max-width: 70%;
  padding: 10px;
}
div.left{
  float: left;
  max-height: auto;
}
div.right{
  float: right;

}
#main-img {
  
  height: 120px;
  width:100%
} 

@media screen and (max-width: 780px) {   
    #main-img{
    	background-image: url(../img/logo-black-white.png);
    } 
}

@media screen and (min-width: 780px) {      
    #main-img{      
    	background-image: url(../img/logo-color.png);
    } 
} 
